<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huyingbao.criminalintent">

    <!--假如应用要用到诸如相机,NFC或者任何其他的随设备走的功能时,都应该要让Android系统知道.-->
    <!--假如设备缺少这样的功能,类似Google Play商店的安装程序就会拒绝安装应用-->
    <!--required="true"的情况下,无拍照功能的手机无法安装该应用-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CrimeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CrimePagerActivity"
            android:parentActivityName=".CrimeListActivity" />

        <!--这里的权限是指一个位置:文件保存地 -->
        <!--把FileProvider和你指定的位置关联起来,就相当于你给发出请求的其他应用一个目标地-->
        <!--添加exported="false"意味着除了你自己以及给与授权的人,其他任何人都不允许使用你的FileProvider-->
        <!--grantUriPermissions属性用来给其他应用授权,允许它们向你指定的URI写入文件-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.huyingbao.criminalintent.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
        <!--<activity android:name=".CrimePagerActivity">-->
        <!--<intent-filter>-->
        <!--&lt;!&ndash;action元素告诉操作系统,activity能够胜任指定任务&ndash;&gt;-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--&lt;!&ndash;必须在intent过滤器中明确设置DEFAULT类别&ndash;&gt;-->
        <!--&lt;!&ndash;DEFAULT类别告诉操作系统,用户问谁可以做时,activity原理处理某项任务&ndash;&gt;-->
        <!--&lt;!&ndash;DEFAULT类别隐含于所有隐式intent中&ndash;&gt;-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<data-->
        <!--android:host="www.baidu.com"-->
        <!--android:scheme="http" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
    </application>

</manifest>